<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>パスワード変更</title>
<link rel="stylesheet" href="/css/createNewPasswordStyle.css"></link>
</head>
<body>
	<!-- ヘッダー設定 -->
	<header>
		<h1>
        	<a class="header_title" href="/toppage">ガチャマップ</a>
    	</h1>
    	<nav class="pc-nav">
        	<ul>
            	<li><a class="header_list" href="/login">ログイン</a></li>
            	<li><a class="header_list" href="/signUp">新規会員登録</a></li>
        	</ul>
    	</nav>
	</header>
	<!-- パスワード変更 -->
	<div id="body_part">
		<h2>新しいパスワードを設定</h2>
		<h4>正しいユーザ名と誕生日を入力して新しいパスワードを設定してください。</h4>
		<th:block th:if="${isError} eq true">
			<span id="error_message" th:text="${errorMsg}"></span>			
		</th:block>
		<form id="password_form" th:action="@{/createNewPassword}" method="post" th:object="${newPasswordForm}">
			<div id="form_items">
				<p><label>ユーザ名</label></p>
				<input class="text_field" type="text" th:field="*{name}">
				
				
				<div>
					<p><label>生年月日</label></p>
					<div id="birthday">
						<input class="birthday_text_field" type="number" th:field="*{year}">
						<label>年</label>
		
						<input class="birthday_text_field" type="number" th:field="*{month}">
						<label>月</label>
			
						<input class="birthday_text_field" type="number" th:field="*{day}">
						<label>日</label>
					</div>
				</div>
				<p><label>新しいパスワードを入力</label></p>
				<input class="text_field" type="password" th:field="*{first}">
		
				<p><label>もう一度</label></p>
				<input class="text_field" type="password" th:field="*{second}">
		
				
			</div>
			
			<p><input class="create_password_button" type="submit" value="再設定"></p>
		</form>
		
	</div>
	
	
</body>
</html>


















