<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>トップページ</title>

<link rel="stylesheet" href="/css/toppageStyle.css"></link>
	
</head>
<body>
	<!-- ヘッダー設定 -->
	<header>
		<h1>
        	<a class="header_title" href="/toppage">ガチャマップ</a>
    	</h1>
    	<nav class="pc-nav">
        	<ul>
            	<li><a class="header_list" href="/login">ログイン</a></li>
            	<li><a class="header_list" href="/signUp">新規会員登録</a></li>
        	</ul>
    	</nav>
	</header>
	<!-- トップページ -->
	
	<div id="body_part">
		<div id="introduce_part">
			<h2>ガチャガチャスポットを見つけよう</h2>
			<p>ガチャマップはガチャガチャがある場所を示してくれるマップです。</p>
			<p>みんなでガチャガチャスポットを登録して、ガチャガチャを探しやすくしよう。</p>
		</div>
		<div id="button_part">
			<h2>ログイン・新規会員登録</h2>
			<div id="button_borderline">
				<p>すでに会員登録を済ましてある方はこちらからログイン</p>
				<input type="submit" class="button" onclick="location.href='/login'" value="ログイン"></input>
				<p>まだ会員登録をしていない方はこちらから登録</p>
				<input type="submit" class="button" onclick="location.href='/signUp'" value="新規会員登録"></input>
			</div>
			
		</div>
		
	</div>
</body>
</html>












